<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Topic Detail Page</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">

        <link href="{{url_for('static', filename='css/templatemo-topic-listing.css')}}" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    </head>
    
    <body id="top">

        <main>

            <nav class="navbar navbar-expand-lg fixed-top">
                <div class="container">
                    <a class="navbar-brand" href="/index">
                        <i class="bi-back"></i>
                        <span>EduSearch</span>
                    </a>

                    <div class="d-lg-none ms-auto me-4">
                        <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                    </div>
    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
    
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                                  
                          
                        </ul>

                        <div class="d-none d-lg-block">
                            <a href="#top" class="navbar-icon bi-person smoothscroll"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </main>
            
        <section class="section-padding">
            <div class="container">
                <div class="team-single">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 xs-margin-30px-bottom">
                            <div class="team-single-img">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                            </div>
                            <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                                <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Class Teacher</h4>
                                <p class="sm-width-95 sm-margin-auto">We are proud of child student. We teaching great activities and best program for your kids.</p>
                                <div class="margin-20px-top team-single-icons">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-7">
                            <div class="team-single-text padding-50px-left sm-no-padding-left">
                                <h4 class="font-size38 sm-font-size32 xs-font-size30">{{ data[0]["namaSekolah"]["value"] }}</h4><br>
                                <div class="contact-info-section margin-40px-tb">
                                    <ul class="list-style9 no-margin">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-5 col-5">
                                                    <i class="fas fa-graduation-cap text-orange"></i>
                                                    <strong class="margin-10px-left text-orange">NPSN:</strong>
                                                </div>
                                                <div class="col-md-7 col-7">
                                                    <p>{{ npsn }}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
            
                                            <div class="row">
                                                <div class="col-md-5 col-5">
                                                    <i class="far fa-gem text-yellow"></i>
                                                    <strong class="margin-10px-left text-yellow">Alamat:</strong>
                                                </div>
                                                <div class="col-md-7 col-7">
                                                    <p>{{ data[0]["alamat"]["value"] }}</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
            
                                            <div class="row">
                                                <div class="col-md-5 col-5">
                                                    <i class="far fa-file text-lightred"></i>
                                                    <strong class="margin-10px-left text-lightred">Courses:</strong>
                                                </div>
                                                <div class="col-md-7 col-7">
                                                    <p>Design Category</p>
                                                </div>
                                            </div>
            
                                        </li>
                                        <li>
            
                                            <div class="row">
                                                <div class="col-md-5 col-5">
                                                    <i class="fas fa-map-marker-alt text-green"></i>
                                                    <strong class="margin-10px-left text-green">Address:</strong>
                                                </div>
                                                <div class="col-md-7 col-7">
                                                    <p>Regina ST, London, SK.</p>
                                                </div>
                                            </div>
            
                                        </li>
                                        <li>
            
                                            <div class="row">
                                                <div class="col-md-5 col-5">
                                                    <i class="fas fa-mobile-alt text-purple"></i>
                                                    <strong class="margin-10px-left xs-margin-four-left text-purple">Phone:</strong>
                                                </div>
                                                <div class="col-md-7 col-7">
                                                    <p>(+44) 123 456 789</p>
                                                </div>
                                            </div>
            
                                        </li>
                                        <li>
                                        
                                        </li>
                                    </ul>
                                </div>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-5 col-12 mb-4 mb-lg-0" id="map" style="height: 250px;">

                    </div>
                  <div class="col-lg-3 col-md-6 col-12 ">
                        <h4 class="mb-3">Alamat</h4>
                        <p>Burj Park, Downtown Dubai, United Arab Emirates</p>
                        <hr>
                        <p class="d-flex align-items-center mb-1">
                            <span class="me-2">Phone</span>
                            <a href="tel: 110-220-3400" class="site-footer-link">
                                110-220-3400
                            </a>
                        </p>

                        <p class="d-flex align-items-center">
                            <span class="me-2">Email</span>
                            <a href="mailto:info@company.com" class="site-footer-link">
                                info@company.com
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        </section>
      
		
        <footer class="site-footer section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-12 mb-4 pb-2">
                        <a class="navbar-brand mb-2" href="/index">
                            <i class="bi-back"></i>
                            <span>EduSearch</span>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
                        <h6 class="site-footer-title mb-3">About Us</h6>

                        <p class="text-black d-flex mb-1">
                            
                                Kelompok 1          
                        </p>

                        <p class="text-black d-flex">
                            Web Semantik
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-4 col-6">
                        <h6 class="site-footer-title mb-3">More</h6>

                        <ul class="site-footer-links">
                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Home</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">How it works</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">FAQs</a>
                            </li>

                            <li class="site-footer-link-item">
                                <a href="#" class="site-footer-link">Contact</a>
                            </li>
                            <a href="https://maps.google.co.id/maps?expflags=enable_star_based_justifications:true&ie=UTF8&f=d&daddr={{data[0]['lintang']['value']}},{{data[0]['bujur']['value']}}">djklfhdsjiklhikfhkifdhks</a>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
        <script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
        <script src="{{url_for('static', filename='js/custom.js')}}"></script>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <!-- <script>
            var data = {{ data | safe }};
        
            // Check if data is not empty before accessing properties
            if (data.length > 0) {
                var latitude = parseFloat(data[0]["lintang"]["value"]);
                var longitude = parseFloat(data[0]["bujur"]["value"]);
        
                console.log("Parsed Latitude:", latitude);
                console.log("Parsed Longitude:", longitude);
        
                // Initialize the map
                var map = L.map('map').setView([latitude, longitude], 15);
        
                // Add a tile layer (you can use any tile provider, here is OpenStreetMap)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
        
                // Add a marker to the map
                L.marker([latitude, longitude]).addTo(map)
                    .bindPopup(`${data[0]["namaSekolah"]["value"]}`)
                    .openPopup();
            } else {
                console.error("No data available for the specified school.");
            }
        </script>
         -->
         <script>
            var data = {{ data | safe }};
        
            // Check if data is not empty before accessing properties
            if (data.length > 0) {
                var latitude = parseFloat(data[0]["lintang"]["value"]);
                var longitude = parseFloat(data[0]["bujur"]["value"]);
        
                console.log("Parsed Latitude:", latitude);
                console.log("Parsed Longitude:", longitude);
        
                // Initialize the map
                var map = L.map('map').setView([latitude, longitude], 15);
        
                // Add a tile layer (you can use any tile provider, here is OpenStreetMap)
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
        
                // Create a marker with a popup
                var marker = L.marker([latitude, longitude]).addTo(map);
                marker.bindPopup(`${data[0]["namaSekolah"]["value"]}<br><a href="https://maps.google.co.id/maps?expflags=enable_star_based_justifications:true&ie=UTF8&f=d&daddr=${latitude},${longitude}" target="_blank">View on Google Maps</a>`).openPopup();
            } else {
                console.error("No data available for the specified school.");
            }
        </script>
        
        <!-- Add a container for the Google Maps link -->
          

    </body>
</html>