<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>Web Semantik</title>

		<!-- Open Graph Tags -->
		<meta property="og:title" content="Web Semantik" />
		<meta property="og:description" content="Platform untuk mencari sekolah di Medan." />
		<meta property="og:image" content="URL_GAMBAR" />
		<meta property="og:url" content="URL_HALAMAN" />

		<!-- CSS FILES -->
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet" />

		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" />

		<link href="{{url_for('static', filename='css/bootstrap-icons.css')}}" rel="stylesheet" />

		<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" />

		<link href="{{url_for('static', filename='css/templatemo-topic-listing.css')}}" rel="stylesheet" />
		<style>
			#kecamatan-button {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				margin-left: 20px;
			}

			.btn {
				margin-right: 10px; /* Memberi jarak antara tombol */
				margin-bottom: 10px; /* Memberi jarak antara baris */
			}

			.custom-navbar {
				background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
			}
		</style>
	</head>

	<body id="top" style="background: fff">
		<main>
			<nav class="navbar navbar-expand-lg fixed-top custom-navbar">
				<div class="container">
					<a class="navbar-brand" href="/index">
						<i class="bi-back"></i>
						<span>EduSearch</span>
					</a>

					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</nav>
		</main>

		<section class="featured-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-4 col-12 mb-4 mb-lg-1"></div>
				</div>
			</div>
		</section>

		<section class="section-padding" style="margin: 0 auto; margin-top: 20px; width: 80%; padding: 10px">
			<div class="btn-group mb-3">
				<button onclick="requestLocationPermission()" class="btn btn-dark">Get My Location</button>
				<button class="btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Semua Jenjang</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="bentukDropdown">
					<a class="dropdown-item bentuk-dropdown-item" data-bentuk="Semua Jenjang">Semua Jenjang</a>
					{% for bentuk_pendidikan in bentuk_pendidikan_classification %}
					<li>
						<a class="dropdown-item bentuk-dropdown-item" data-bentuk="{{ bentuk_pendidikan['bentukPendidikan'] }}"> {{ bentuk_pendidikan['bentukPendidikan'].replace('https:///schema/Instansi_sumut#', '').replace('_', ' ') }} </a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<table id="example" class="table table-striped" style="width: 100%">
				<thead>
					<tr>
						<th>Nama</th>
						<th>NPSN</th>
						<th>Akreditasi</th>
						<th>Bentuk Pendidikan</th>
						<th>Kecamatan</th>
						<th>Jarak</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					{% for school in data %}
					<tr>
						<td>{{ school["namaSekolah"]["value"] }}</td>
						<td>{{ school["npsn"]["value"] }}</td>
						<td>{{ school["akreditasi"]["value"] if school["akreditasi"]["value"] else "None" }}</td>
						<td>{{ school["bentukPendidikan"]["value"].replace('https:///schema/Instansi_sumut#', '').replace('_', ' ') }}</td>
						<td>{{ school["kecamatan"]["value"].replace('https:///schema/Instansi_sumut#Kecamatan', '').replace('_', ' ') }}</td>
						<td>{{ (school["distance"] / 1000)|round(2) }} km</td>
						<td>
							<!-- Add action buttons or links as needed -->
							<a href="{{ url_for('detail', npsn=school['npsn']['value']) }}">Details</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</section>
		<footer class="site-footer section-padding">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-12 mb-4 pb-2">
						<a class="navbar-brand mb-2">
							<i class="bi-back"></i>
							<span class="text-dark">EduSearch</span>
						</a>
					</div>
					<div class="col-lg-3 col-md-4 col-6 mb-4 mb-lg-0">
						<h6 class="site-footer-title mb-3">About Us</h6>

						<p class="text-black d-flex mb-1">Kelompok 1</p>

						<p class="text-black d-flex">Web Semantik</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- JAVASCRIPT FILES -->
		<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
		<script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.sticky.js')}}"></script>
		<script src="{{url_for('static', filename='js/custom.js')}}"></script>
		<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		
		<script>
			$(document).ready(function () {
				// Initialize DataTable
				var table = $("#example").DataTable({
					dom: "lrtip",
					order: [[5, "asc"]],
				});

				// Handle dropdown item click
				$(".bentuk-dropdown-item").on("click", function () {
					// Get the selected bentukPendidikan value
					var selectedBentuk = $(this).data("bentuk");

					console.log("Selected Bentuk:", selectedBentuk);

					// Reset the search input and draw the DataTable to show all data
					table.search("").columns().search("").draw();

					if (selectedBentuk !== "Semua Jenjang") {
						// If not "Semua Jenjang," set the search to the selected bentukPendidikan
						table.columns(3).search(selectedBentuk.replace("https:///schema/Instansi_sumut#", "").replace("_", " ")).draw();
					}
				});
			});
		</script>

		<script>
			async function requestLocationPermission() {
				try {
					const status = await navigator.permissions.query({ name: 'geolocation' });
			
					if (status.state === 'granted') {
						getUserLocation();
					} else if (status.state === 'prompt') {
						// Display a custom message or use the default browser prompt
						const result = confirm('This site wants to access your location. Allow?');
						if (result) {
							getUserLocation();
						} else {
							console.log('User denied location permission.');
						}
					} else if (status.state === 'denied') {
						console.log('User denied location permission.');
					}
				} catch (error) {
					console.error('Error requesting location permission:', error);
				}
			}
			
			function getUserLocation() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(
						function(position) {
							var userLatitude = position.coords.latitude;
							var userLongitude = position.coords.longitude;
			
							// Now you have the user's location, you can use it for further actions
							console.log('User Latitude:', userLatitude);
							console.log('User Longitude:', userLongitude);
			
							// Call a function or perform an action with the user's location
							// For example, you can update your table with the new user location
							updateTableWithUserLocation(userLatitude, userLongitude);
						},
						function(error) {
							console.error('Error getting user location:', error.message);
						}
					);
				} else {
					console.error('Geolocation is not supported by this browser.');
				}
			}
			
			function updateTableWithUserLocation(latitude, longitude) {
				// Perform actions to update your table with the new user location
				// For example, you can recalculate distances and update the table
			
				// Redirect to the specified URL with latitude and longitude parameters
				const redirectUrl = `/terdekat?latitude=${latitude}&longitude=${longitude}`;
				window.location.href = redirectUrl;
			}
			</script>
	</body>
</html>
